html, body {
    padding: 0;
    margin: 0;
}

/* #button {

} */

.wrapper {
    padding: 60px;
    background-color: silver;
}

#game-area {
    width: 1020px;
}

/* .container {
    text-align: center;
} */

/* Game Over <div> */
#game-over {
    display: none;
}

/* Item <div> */
#items {
    background-color: #6495ed;
    border: 5px solid #000;
    color: #fff;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.item-title {
    padding: 7px;
    font-size: 20px;
    margin: 0;
}

#item-screw {
    display: inline-block;
    padding: 10px;
    background-color: #000;
    border: 5px solid #ff0000;
    border-radius: 50%;
}

#item-wrench {
    display: inline-block;
    padding: 10px;
    background-color: #000;
    border: 5px solid #ff0000;
    border-radius: 50%;
}

#item-boltCutter {
    display: inline-block;
    padding: 10px;
    background-color: #000;
    border: 5px solid #ff0000;
    border-radius: 50%;
}

/* Images */

#screw {
    height: 40px;
    width: 40px;
    background-image: url('../img/screw.png');
    background-size: contain;
    opacity: 0.25;
}

#wrench {
    height: 40px;
    width: 40px;
    background-image: url('../img/wrench.png');
    background-size: contain;
    opacity: 0.25;
}

#bolt-cutter {
    height: 40px;
    width: 40px;
    background-image: url('../img/bolt-cutter.png');
    background-size: contain;
    opacity: 0.25;
}

#goblinImg {
    height: 150px;
    width: 150px;
    background-image: url('../img/goblin-head.png');
    background-size: contain;
}

#orcImg {
    height: 150px;
    width: 150px;
    background-image: url('../img/orc-head.png');
    background-size: contain;
}

#maniacImg {
    height: 150px;
    width: 150px;
    background-image: url('../img/balaclava.png');
    background-size: contain;
}

#amanitaImg {
    height: 150px;
    width: 150px;
    background-image: url('../img/super-mushroom.png');
    background-size: contain;
}

#playerImg {
    height: 150px;
    width: 150px;
    background-image: url('../img/quick-man.png');
    background-size: contain;
}

/* Player */
#player {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/quick-man.png');
    background-size: contain;
    position: absolute;
    top: 120px;
    left: 120px;
}

/* Layout */

#world {
   display: inline-block;
   border: 5px solid #000;
   margin-left: -5px;
}.row {
    line-height: 0;
}.wall {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/stone-wall.png');
    background-size: contain;
    pointer-events: none;
}.blank {
    background-color: #000;
    display: inline-block;
    height: 60px;
    width: 60px;
    pointer-events: none;
}.goblin {
    background-color: #000;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/goblin-head.png');
    background-size: contain;
}.orc {
    background-color: #000;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/orc-head.png');
    background-size: contain;
}.screw {
    background-color: #000;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/screw.png');
    background-size: contain;
}.wrench {
    background-color: #000;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/wrench.png');
    background-size: contain;
}.bolt-cutter {
    background-color: #000;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/bolt-cutter.png');
    background-size: contain;
}.maniac {
    background-color: #000;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/balaclava.png');
    background-size: contain;
}.amanita {
    background-color: #000;
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url('../img/super-mushroom.png');
    background-size: contain;
}#liveOne {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url('../img/hearts.png');
    background-size: contain;
}#liveTwo {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url('../img/hearts.png');
    background-size: contain;
}#liveThree {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url('../img/hearts.png');
    background-size: contain;
}

/* Game Object Pop Up */
#close
{
  position:absolute;
  right: 0;
  top: 0;
  background-color:#fff;
  font-size:16px;
  padding:3px 7px;
  border-radius:50%;
  border: 3px solid #6495ed;
  font-weight:bold;
  color:#000;
  text-decoration:none;
  font-family:arial;
}

#close:hover
{
  background-color:#fff;
  border-color:#ff0000;
  color:#6495ed;
}

#close:active
{
  background-color: #6495ed;
  color:#fff;
}

#wallInfo {
    display: none;
    top: 150px;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    border: 5px solid #fff;
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#wallInfo:target {
    display: block;
}

#goblinInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#goblinInfo:target {
    display: block;
}

#orcInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#orcInfo:target {
    display: block;
}

#maniacInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#maniacInfo:target {
    display: block;
}

/* Player Info */
#bolt-cutterInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#bolt-cutterInfo:target {
    display: block;
}

#screwInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#screwInfo:target {
    display: block;
}

#wrenchInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#wrenchInfo:target {
    display: block;
}

#amanitaInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#amanitaInfo > .link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#amanitaInfo > .link:hover {
    color: #6495ed;
}

#amanitaInfo:target {
    display: block;
}

/* Player Info */
#playerInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#playerInfo:target {
    display: block;
}

/* Game Over */
#game-overInfo {
    display: none;
    top: 150px;
    border: 5px solid #fff;
    color: #fff;
    left: 120px;
    padding: 15px;
    position: absolute;
    height: 500px;
    width: 500px;
    background: rgba(0, 0, 0, 0.75);
}

#game-overInfo:target {
    display: block;
}