html, body {
    padding: 0;
    margin: 0;
    background-color: silver;
}

/* Game Over <div> */
#game-over {
    display: none;
}

/* Layout */

#world {
    width: 50%;
}.row {
    line-height: 0;
}.wall {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../img/stone-wall.png');
    background-size: contain;
}.goblin {
    background-color: #000;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../img/goblin-head.png');
    background-size: contain;
}.orc {
    background-color: #000;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../img/orc-head.png');
    background-size: contain;
}.blank {
    background-color: #000;
    display: inline-block;
    height: 40px;
    width: 40px;
}

/* Player */

#player {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../img/duality-mask.png');
    background-size: contain;
    position: absolute;
    top: 40px;
    left: 40px;
}
